parameters:
    level: 1
    paths:
        - src
        - tests

    autoload_files:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    excludes_analyse:
        - vendor
